* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .personal-info {
  background-color: pink;
  width: 100vw;
  height: 100vh;
  padding: 5vh;
} */
/* .personal-info_form {
  width: 50%;
  background-color: brown;
  height: 20rem;
  margin: auto;
  padding: 10px;
} */

/* .personal-info_form h4 {
  padding: 5px;
} */

/* .personal-info input {
  height: 2rem;
  border-radius: 5px;
  border: 1px whitesmoke;
  margin: 0.2rem;
  width: 100%;
  padding: 1.2rem;
} */

.input-bar {
  height: 5rem;
  /* background: rgb(255, 216, 144); */
  width: 50rem;
  margin-bottom: 2rem;
}
.input-bar-label {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.input-bar h4 {
  padding-bottom: 0.75rem;
}
.input-bar input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(63, 57, 57, 0.786);
}

p {
  margin-bottom: 0.5rem;
  color: darkslateblue;
  opacity: 0.5;
}
